<%= link_to '業務ページ', home_basic_path %>
<div class='workers'>
        <div class='workers-info'>
            <h3>出勤者一覧</h3>
            <% if @uniq_staffs.present? %>
                <% @uniq_staffs.each do |staff| %>
                    <div class='today-staff'>
                        <div class='today-staff-date'>
                            <div class='today-staff-image'>
                                <%= image_tag staff.image.to_s %>
                            </div>
                            <div class='today-staff-details text-left'>
                                <ul>
                                    <% case staff.status %>
                                        <% when 1 then %>
                                            <li>店長</li>
                                        <% when 2 then %>
                                            <li>副店長</li>
                                        <% when 3 then %>
                                            <li>スタイリスト</li>
                                    <% end %>
                                    <li><span><%= staff.last_name %></span><%= staff.first_name %></li>
                                    <li><%= staff.age %></li>
                                    <li><%= staff.gender %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <h3>データがありません</h3>
            <% end %>
        </div>
</div>