<h1>管理者画面</h1>
    <p class='font-color'>＊3は新規メニューの登録ページ</p>
    <p class='font-color'>＊6にちごとの出勤者がわかります。</p>
    <p class='font-color'>＊8電話等での連絡を受けた際予約の削除ページ</p>
    <p class='font-color'>＊9は予約機能です</p>

<ol>
    
    <li><%= link_to "staff登録", new_staff_path %></li>
    <li><%= link_to "staff一覧", staffs_path %></li>
    <li><%= link_to "メニュー登録", new_menu_path %></li>
    <li><%= link_to "メニュー一覧", menus_path %></li>
    <li><%= link_to "シフト入力", schedules_new_path %></li>
    <li><%= link_to "日にち別出勤者一覧(シフト表)", schedules_path %></li>
    <li><%= link_to "予約一覧", reservations_path %></li>
    <li><%= link_to "予約検索（削除)", search_reservations_path %></li>
    <li><%= link_to "ホームページ", root_path %></li>
    
</ol>