<div class='reservation-of-staff'>
    <div class='main-title'>
        <h2 class='text-center'>スタッフを選択してください。</h2>
    </div>
    <div class='main'>
        <div class='pre-reservation'>
            <table class="tacheck" border="1">
                <tbody>
                    <%= render 'table', menuNames: @menuNames, menuRequiredTimes: @menuRequiredTimes, menuPrices: @menuPrices %>
                </tbody>
            </table>
        </div>
            <div class='main-reservation'>
                <div class='staff-reservation'>
                    <% @staffs.each do |staff| %>
                        <div class='staff-inner-r'>
                            <div class='staff-profile'>
                                <div class='staff-upside'>
                                    <div class='staff-image-r'>
                                        <%= image_tag staff.image.to_s %>
                                    </div>
                                    <div class='staff-details-r'>
                                        <p><span><%= @name %></span><%= staff.last_name %><%= staff.first_name %></p>
                                        <p><span>カナ</span><%= staff.last_name_kana %><%= staff.first_name_kana %></p>
                                        <p><span><%= @age %></span><%= staff.age %></p>
                                        <p><span><%= @gender %></span><%= staff.gender %></p>
                                        <% case staff.status %>
                                            <% when 1 then %>
                                                <p><span><%= @status %></span>店長</p>
                                            <% when 2 then %>
                                                <p><span><%= @status %></span>副店長</p>
                                            <% when 3 then %>
                                                <p><span><%= @status %></span>スタイリスト</p>
                                        <% end %>
                                    </div>
                                </div>
                                <div class='staff-downside'>
                                    <div class='staff-introduction-r'>
                                        <a class='open-modal text-left' href="#" data-target='modal<%= staff.id %>'>詳細</a>
                                    </div>
                                    <div class='staff-click'>
                                        <%= link_to '指名して予約', choose_date_reservations_path(selectedStaff: staff.id, menus: @menuIds),
                                                                                                            class: 'btn btn-info' %>
                                        <!--<input type="submit" value="指名して予約" class='btn btn-info' > -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='staff-show' id='modal<%= staff.id %>'>
                            <div class='staff-show2'>    
                                <div class='staff-show3'>
                                    <div class='staff-show4'>
                                        <div class='staff-show-upside'>
                                            <div class='staff-show-name'>
                                                <h4><%= staff.last_name %><span><%= staff.first_name %></span><span><%= staff.last_name_kana %><%= staff.first_name_kana %></span></h4>
                                            </div>  
                                            <div class='close-btn'>
                                                <a a href="#">X</a>
                                            </div>
                                        </div>
                                        <div class='staff-show-midle'>
                                            <div class='staff-show-image'>
                                                <%= image_tag staff.image.to_s %>
                                            </div>
                                            <div class='staff-show-status-comment'>
                                                <% case staff.status %>
                                                    <% when 1 then %>
                                                        <p>店長</p>
                                                    <% when 2 then %>
                                                        <p>副店長</p>
                                                    <% when 3 then %>
                                                        <p>スタイリスト</p>
                                                <% end %>
                                                
                                                <%= staff.self_introduction %>
                                            </div>
                                        </div>
                                        <div class='staff-show-downside'>
                                            <div class='staff-click'>
                                                <%= link_to '指名して予約', choose_date_reservations_path(selectedStaff: staff.id, menus: @menuIds),
                                                                                                            class: 'btn btn-info' %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
    </div>
    <div class='menu-footer'>
        <%= link_to "戻る", choose_menus_reservations_path, class: 'btn btn-success' %>
    </div>
</div>



