<div class='reservation-of-date'>
     <div class='main-title'>
        <h2 class='text-center'>日時を選択してください</h2>
    </div>
    <div class='main'>
        <div class='pre-reservation'>
            <table class="tacheck" border="1">
                <tbody>
                    <%= render 'table', menuNames: @menuNames, menuRequiredTimes: @menuRequiredTimes, menuPrices: @menuPrices %>
                    <tr class='selected_staff_image'>
                        <th class='text-center'><%= image_tag @staff.image.to_s %></th>
                        <td><%= @staff.last_name %><span><%= @staff.first_name %></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <dvi class='main-reservation-date'>
            <div class='menu-footer'>
                <%= link_to "前の一週間", choose_date_reservations_path(previous_week: @prev, selectedStaff: @staff.id, 
                                        menus: @menuIds), class: 'btn btn-success' %>
                
                <%= link_to "次の一週間", choose_date_reservations_path(next_week: @next, selectedStaff: @staff.id, 
                                        menus: @menuIds), class: 'btn btn-success' %>
            </div>
            <div class='date-reservation'>
                <table class='date-r' border="1" bordercolor="#DDDDDD">
                    <%= reservation_calender(@d, @staff, @menuRequiredTimes).html_safe %>
                </table>
            </div>
        </dvi>
    </div>
    <div class='menu-footer'>
        <%= link_to "戻る", choose_staff_reservations_path(menus: @menuIds), class: 'btn btn-success' %>
    </div>
</div>

