<script>
    history.pushState(null, null, null);
    window.addEventListener("popstate", function (e) {
        
        alert('左下の戻るボタンを使用してください。');
        return false;
        
    });
</script>


<div class='custamer'>
    <div class='main-header'>
        <h2 class='text-center'>お客様情報を入力してください</h2>
    </div>
    <div class='custamer-detail'>
        <%= form_for @reservation, :url => {:controller => :reservations, :action => :custamer_info} do |f| %>
            
            <div class='custamer row'>
                <div class='col-xs-12 col-md-6 text-left'>    
                    <%= hidden_field_tag "selectedStaff", @staffId %>
                    <%= f.hidden_field :date, :value => @date %>
                    
                    
                    <% if  @menuIds.nil? %>
                    
                        <% JSON.parse(@reservation.menu_ids).each do |menuId| %>
                            <input type ='hidden' name="menus[]", value="<%= menuId %>" >
                        <% end %>
                        
                    <% else %>
                    
                        <% @menuIds.each do |menuId| %>
                            <input type ='hidden' name="menus[]", value="<%= menuId %>" >
                        <% end %>
                        
                    <% end %>
                    
                    <% if  @total_frames.nil? %>
                    
                        <% JSON.parse(@reservation.frames).each do |frame| %>
                            <input type ='hidden' name="frame[]", value="<%= frame %>" >
                        <% end %>
                        
                    <% else %>
                    
                        <% @total_frames.each do |frame| %>
                            <% logger.debug("--------frame=#{frame}") %>
                            <input type ='hidden' name="frame[]", value="<%= frame %>" >
                        <% end %>
                        
                    <% end %>
                    
                    <div class='field'>
                        <p>性<span class='must'>※</span></p>
                        <%= f.text_field :last_name, class: 'form-control'%>
                    </div>
                    
                    <div class='field'>
                        <p>性(カナ)<span class='must'>※カタカナでお願いします。</span></p>
                        <%= f.text_field :last_name_kana, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>電話番号<span class='must'>※ハイフンなしで記入下さい。</span></p>
                        <!------ saveメソッドを使わないので...number_field -->
                        <%= f.telephone_field :tel, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>性別<span class='must'>※</span></p>
                        <span class='radio_button'><%= f.radio_button :gender, "女性", checked: true %>女</span><%= f.radio_button :gender, "男性" %>男
                    </div>
                    
                </div>    
                <div class='col-xs-12 col-md-6'>    
                    
                    <div class='field'>
                        <p>名<span class='must'>※</span></p>
                        <%= f.text_field :first_name, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>名(カナ)<span class='must'>※カタカナでお願いします。</span></p>
                        <%= f.text_field :first_name_kana, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>メールアドレス<span class='must'>※</span></p>
                        <%= f.email_field :email, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>ご来店は初めてですか?</p>
                        <%= f.check_box :check, {}, 'true', 'false' %>
                    </div>
                </div> 
        </div>    
        <div class='custamer-request'>
            <p>ご要望</p>
            <%= f.text_area :request, class: 'form-control form-request' %>
        </div>
        <div class='menu-footer'>
            <%= link_to "戻る", choose_date_reservations_path(menus: @menuIds, selectedStaff: @staffId, frame: @total_frames, date: @date), class: 'btn btn-success' %>
            <%= f.submit :この内容で次へ, class:'btn btn-info' %>
        </div>
        <% end %>
    </div>
</div>

