<div class='custamer'>
    <div class='main-header'>
        <h2 class='text-center'>お客様情報を入力してください</h2>
    </div>
    <div class='custamer-detail'>
        <%= form_for @reservation, :url => {:controller => :reservations, :action => :confirm} do |f| %>
            <div class='custamer row'>
                <div class='col-xs-12 col-md-6 text-left'>
                      
                    <%= f.hidden_field :staff_id, :value => @reservation.staff_id %>
                    <%= f.hidden_field :date, :value => @reservation.date %>
                    <%= f.hidden_field :menu_ids, :value => @reservation.menu_ids %>
                    <%= f.hidden_field :frames, :value => @reservation.frames  %>
                    
                    <div class='field'>
                        <p>性<span class='must'>※</span></p>
                        <%= f.text_field :last_name, class: 'form-control'%>
                    </div>
                    
                    <div class='field'>
                        <p>性(カナ)<span class='must'>※カタカナでお願いします。</span></p>
                        <%= f.text_field :last_name_kana, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>電話番号<span class='must'>※ハイフンなしで記入下さい。</span></p>
                        <!------ saveメソッドを使わないので...number_field -->
                        <%= f.telephone_field :tel, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>性別<span class='must'>※</span></p>
                        <span class='radio_button'><%= f.radio_button :gender, "女性", checked: true %>女</span><%= f.radio_button :gender, "男性" %>男
                    </div>
                    
                </div>    
                <div class='col-xs-12 col-md-6'>    
                    
                    <div class='field'>
                        <p>名<span class='must'>※</span></p>
                        <%= f.text_field :first_name, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>名(カナ)<span class='must'>※カタカナでお願いします。</span></p>
                        <%= f.text_field :first_name_kana, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>メールアドレス<span class='must'>※</span></p>
                        <%= f.email_field :email, class: 'form-control' %>
                    </div>
                    
                    <div class='field'>
                        <p>ご来店は初めてですか?</p>
                        <%= f.check_box :check, {}, 'true', 'false' %>
                    </div>
                </div> 
        </div>    
        <div class='custamer-request'>
            <p>ご要望</p>
            <%= f.text_area :request, class: 'form-control form-request' %>
        </div>
        <div class='menu-footer'>
            <% if @reservation.frames && @reservation.menu_ids %>
                <% hash_frames = JSON.parse(@reservation.frames, {symbolize_names: true}) %>
                <% @frames = hash_frames[:key_frames] %>
                <% hash_menuIds = JSON.parse(@reservation.menu_ids, {symbolize_names: true}) %>
                <% @menuIds = hash_menuIds[:key_menuIds] %>
            <% end %>
            
            <%= link_to "戻る", choose_date_reservations_path(menus: @menuIds, selectedStaff: @reservation.staff_id, 
                                                            frame: @frames, date: @reservation.date), class: 'btn btn-success' %>
                                                            
            <%= f.submit :この内容で次へ, class: 'btn btn-info', id: 'toconfirm'  %>
        </div>
        <% end %>
    </div>
</div>



<script>
    
    $(document).ready(function() {
        let array_menus = JSON.parse(sessionStorage.getItem('menus'));
        
        //choose_dateページ,urlのクエリを取得
        //choose_dateのsessionStorage
        //読み込みの時点であることでブラウザバックも使えるし、confirm画面に行ってからのブラウザバックにも変数を保持できる。
        let getDateQuery = sessionStorage.getItem('dateKey');
        console.log("日程クエリ" + getDateQuery);
        
        //クエリを取得
        let queryStr = window.location.search; 
        console.log("お客さん詳細" + queryStr);
        
        //Storageに保存する。
        sessionStorage.setItem('params', queryStr);
        
    });

//--------------------------------------------------
    
    //render後のリロード対策  createからのrenderも太陽します。
    function addToNewUrl() {
        let array_menus = JSON.parse(sessionStorage.getItem('menus'));

        //renderされたらstorageのkeyを取得してdefaultのurlにクエリを追加する。
        //sessionStorageだからブラウザが閉じるまでは保持される。

        let query = sessionStorage.getItem('params');
        
        //urlを取得  
        let path = location.pathname;

        let pattern = "/reservations/custamer_detail"
    
        //検証
        //URLが正しければ変更は不要
        if (path.match(pattern)) return;
    
        // 違う場合は書き換え。URLを変更
        history.replaceState('', '', "/reservations/custamer_detail" + query);
    }

    //呼び出し
    window.onload = addToNewUrl();

    //HTTP postメソッドdealと一致したら
    //if (location.pathname.match("/reservations/confirm")) {
        //呼び出し
        //window.onload = addToNewUrl();
    //}

//------------------------------------------------------------------------
    
    //ブラウザバックに反応
    $(window).on("popstate", function () {
        
        //choose_dateページ,urlのクエリを取得
        let getDateQuery = sessionStorage.getItem('dateKey');
        //render後のリロード対策
        function addToCorrectUrl() {
            //renderされたらstorageのkeyを取得してdefaultのurlにクエリを追加する。
    
            //現状のurlを取得  /reservations/custamer_detail
            let path = location.pathname;
    
            //日時選択ページ
            let pattern = "/reservations/custamer_date"
            
            // URLが正しければ変更は不要
            if (path.match(pattern)) return;
            
            // URLを変更
            history.replaceState('', '', "/reservations/choose_date" + getDateQuery);
        }
    
        //HTTP postメソッドdealと一致したら
        if (location.pathname.match("/reservations/choose_date")) {
            //呼び出し
            window.onload =  addToCorrectUrl();
        }
    });
</script>