<%= link_to '管理者画面', home_basic_path%>
<div class='search'>
    <div class='search-for-reservation'>
        <h3>予約検索<span class='font-color name-margin'>予約を削除したい場合はこちらをご利用ください</span></h3>
        <p　class='font-color'>電話で問合せいただいたことを想定して</p>
<!-------検索フォーマット----------------------------------------------------------------->
            <%= form_tag({controller: :reservations, action: :search}, {method: 'get'}) do   %>
                <div class='search_form'>
                    <p>お客さんの登録した電話番号(数値のみ)</p>
                    <input type="number" name="search_tel">
                    
                    <p>来店予定日</p>
                        <select name= 'search_date'>
                            <!--<option value='', selected = ''>不明</option>-->
                            <% @dates.each do |date| %>
                                <option name="search_date" value="<%= date %>"><%= date.strftime("%Y年 %m月 %d日") %></option>
                                <% logger.debug ("-----------date=#{date}") %>
                            <% end %>
                        </select>
                        
                    <%= submit_tag 'Search', :name => nil %>
                </div>       
            <% end %>
    </div>
<hr>


<!-------検索結果を表示------------------------------------------------------------------>
<!----------indexと作りが少し違うのでrenderはしない。　具体的にはdestroyボタン ------>

    <div class='selected-reservations'>
        <h3>検索結果</h3>
            <% @searchedReservations.each do |reservation| %>
                <div class='reservation-inner'>
                    <div class='reservation-inner2'>
                        <div class='reservation-inner3'>
                            <div class='reservations-top-side'>
                                <div class='reservation-date'>
                                    <% date = Date.parse(reservation.date) %>
                                    <p><strong><%= date.strftime("%m月 %d日") %></strong></p>
                                </div>
                                <div class='reservation-frames-menus'>
                                    <div class='reservation-frames'>   
                                    <!-----時間 -->    
                                        <p>活用時間</p>
                                        <!----- StringをJSON.parseでArray化 -->
                                        <% frames = JSON.parse(reservation.frames) %>
                                        <% frames.each do |frame| %>
                                        <p class='frames-ptagu'><%= frame %></p>
                                        <% end %>
                                    </div>    
                                    <div class='reservation-menus'>
                                    <!-----メニュー-->
                                        <p>選択メニュー</p>
                                        <% menuIds = JSON.parse(reservation.menu_ids) %>
                                        <% menuIds.each do |menuId| %>
                                            <% menu = Menu.find_by(id: menuId) %>
                                            <p class='frames-ptagu'><%= menu.name %></p>
                                        <% end %>
                                    </div>    
                                </div>
                            </div>
                            
                            <div class='reservations-middle'>
                                <div class='reservation-in-charge-staff-image'>
                                    <% staff = Staff.find_by(id: reservation.staff_id) %>
                                    <%= image_tag staff.image.to_s %>
                                </div>
                                <div class='reservation-in-charge-staff-name'>
                                    <p><i><%= @name %></i><%= staff.last_name %><span class='name-margin'><%= staff.first_name %></span></p>
                                </div>
                            </div>
                            
                            <div class='reservation-down-side-search'>
                                <div class='reservation-custamer_detail'>
                                    <p class='font-color'>詳細</p>
                                    <div class='reservation_custermer_name'>
                                        <p><%= reservation.last_name_kana %><span class='name-margin'><%= reservation.first_name_kana %></span></p>
                                        <p><%= reservation.last_name %><span class='name-margin'><%= reservation.first_name %></span></p>
                                    </div>
                                    <div class='reservation-tel-email'>
                                        <p>電話<span class='name-margin'><%= reservation.tel %></span></p>
                                        <p class='name-margin'>メールアドレス<span class='name-margin'><%= reservation.email %></span></p>
                                    </div>
                                    <div class='reservation-destroy'>
                                        <p><%= link_to "削除", reservation_path(reservation.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            <% end %>
    </div>
</div>
